<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Blog!</title>
  <link rel="stylesheet" href="/styles.css">

</head>
<body>
<div class="left"></div>
<div class="center">

  <h1>My Blog!</h1>

  <div class="container">
    <form action="/create" method="POST">
      <div class="form-row">
        <input type="text" name="author" placeholder="Name" required>
        <input type="text" name="title" placeholder="Title" required>
      </div>
      <textarea name="content" placeholder="Share what you are thinking!" required></textarea>
      <button type="submit">Create Post</button>
    </form>
  </div>

  <hr>

  <% if (posts.length === 0) { %>

    <p>No posts yet. Be the first!</p>

  <% } else { %>
    <h2>See what's new!:</h2>

    <% posts.forEach(post => { %>
      <div class="post">

        <h2><%= post.title %></h2>
        <p><%= post.content %></p>

        <small><em>By <%= post.author %> on <%= post.date.toLocaleString() %> </em></small>
        <form action="/delete/<%= post.id %>" method="POST" style="display:inline;">
          <button type="submit">Delete</button>
        </form>
        <form action="/edit/<%= post.id %>" method="GET" style="display:inline;">
          <button type="submit">Edit</button>
        </form>
      </div>
      <hr>
    <% }) %>

  <% } %>
</div>
<div class="right"></div>
</body>

</html>
